@page "/productosvendidos/{id:int}/editar"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject ProductosVendidosService ProductosVendidosService

<h3>Editar Productos Vendidos</h3>

@if (ProductoVendido == null)
{
    <p>ProductosVendidos no encontrado</p>
}
else
{
    <ProductoVendidoForm ProductoVendido="ProductoVendido" />
}

@code
{
    private ProductoVendido? ProductoVendido;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ProductoVendido = await ProductosVendidosService.GetOneProductoVendido(Id);
    }
}
