@page "/ventas/{id:int}/editar"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject VentasService VentasService
<h3>Editar Venta</h3>

@if (venta == null)
{
    <p>Venta no encontrado</p>
}
else
{
  <VentaForm Venta="venta" />
}

@code
{
    private Venta? venta;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        venta = await VentasService.GetOneVenta(Id);
    }
}
